@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

body {
  background-color: #f5efe6;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.generalInformation {
  width: 55%;
  height: 500px;
  padding: 1%;
  display: flex;
  justify-content: center;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: default;
}

.generalInformation .generalRight {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin-bottom: 2.2%;
}

.generalInformation .generalRight #time {
  font-weight: 700;
  font-size: 120px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.generalInformation .generalRight #date {
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.generalInformation .generalRight #city {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}
#countryName {
  font-size: 45px;
}

.generalInformation .generalLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 53%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.generalInformation .generalLeft h2 {
  font-weight: 600;
  font-size: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.generalInformation .generalLeft .weatherStats {
  font-size: 32px;
}

.infoName {
  font-weight: 600;
}

.calendar {
  width: 40%;
  height: 500px;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: default;
}

#calendar {
  height: 89%;
  display: grid;
  margin: 3%;
  grid-template-columns: repeat(7, 1fr);
}

sup {
  font-size: 20px;
}

#space {
  flex-grow: 1;
}

.day {
  font-size: 38px;
  text-align: center;
  margin: auto;
  font-weight: 600;
  transition: 0.3s;
}

.day:hover {
  color: #ffc457;
}

.dayName {
  font-size: 42px;
  text-align: center;
  margin: auto;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.today {
  color: #ffb121;
}

.sunday {
  color: #ff0000;
}

optgroup {
  font-size: 57px;
}
#city {
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  text-align: center;
}

select {
  font-size: 60px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  text-align: center;
}

/* -------------------- */

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.left,
.right {
  width: 47.5%;
  cursor: default;
}

.tasks {
  width: 100%;
  padding: 1.5% 2.5% 1.5% 2.5%;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.reminders {
  width: 100%;
  padding: 1.5% 2.5% 1.5% 2.5%;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.notes {
  margin-top: 3%;
  margin-bottom: 10%;
  width: 100%;
  padding: 1.5% 2.5% 1.5% 2.5%;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.tasks > nav,
.reminders > nav,
.notes > nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1%;
}

.task {
  margin: 0 0.8% 2% 0.8%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 0.7%;
  border-bottom: 0.5px #000 solid;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.taskOptions {
  width: 90px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.reminderOptions {
  width: 120px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.exclamation {
  font-weight: 800;
  color: #ff0000;
}

.exclamationFalse {
  visibility: hidden;
  opacity: 0;
  font-weight: 800;
  color: #ff0000;
}

.plus {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 35px;
  font-weight: 700;
}

#citiesSelect {
  font-family: inter;
  font-weight: 700;
  font-size: 45px;
  width: 80%;
  text-align: center;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(163, 163, 163);
  transition: 0.3s;
}
#citiesSelect:focus {
  border-color: rgb(0, 0, 0);
}

/* -------------- */

.promptOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(121, 121, 121, 0.85);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promptOverlay:target {
  visibility: visible;
  opacity: 1;
}

.promptTasks,
.promptReminder {
  background: #f5efe6;
  font-family: inter;
  width: 800px;
  height: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1%;
  border-radius: 5px;
}
.promptReminder {
  height: 380px;
}
.promptTasks > nav,
.promptReminder > nav {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3%;
}

.close {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 40px;
}

label {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
}

.promptTaskForm,
.promptReminderForm {
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.promptTaskForm > #taskName,
.promptReminderForm > #reminderName {
  height: 45px;
  padding-left: 2%;
  font-size: 18px;
  border: 1px solid #c1c1c1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.promptReminderForm > #reminderDate {
  height: 45px;
  width: 200px;
  padding-left: 2%;
  padding-right: 2%;
  right: 2%;
  font-size: 18px;
  border: 1px solid #c1c1c1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.promptTaskForm > div > #checkboxTask {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 3px;
}

.checkboxFlex {
  display: flex;
}
.checkboxFlex > p {
  margin-left: 10px;
}

.formSubmit {
  align-self: flex-end;
  font-size: 18px;
  width: 180px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #c1c1c1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.free,
.noreminders {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.trash {
  cursor: pointer;
}

#textArea {
  font-size: 24px;
  text-align: left;
  resize: none;
  overflow: hidden;
  min-height: 100px;
  padding: 1%;
  padding-bottom: 2%;
  border: 0;
}

#textArea:target {
  border: 1px;
}

.expired {
  color: #ff0000;
  font-weight: 600;
}
.remindtoday {
  color: #ffc700;
  font-weight: 600;
}
.notexpired {
  font-weight: 600;
}

.logo {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo >h2 {
  font-size: 50px;
}